@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* title */

.title_black {
  color: #212121;
}

.header__title {
  margin-top: 73px;
  text-align: center;
}

/* line */

.line {
  height: 2px;
  width: 6%;
}

.line_orange {
  background-color: #ff8b38;
}

.header__line {
  margin: 22px auto;
}

/* text */

.text_grey {
  color: #86878b;
}

.header__text {
  margin-bottom: 85px;
  text-align: center;
}

/* main */

.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 111px;
}

.speaker {
  width: 20%;
}

.speaker__wrapper {
  display: flex;
}

.speaker_margin {
  margin: 0 98px;
}

.speaker__text {
  position: relative;
  padding: 25px 0 18px 12px;
  background: #f5f5f5;
}

.speaker__text:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 17px solid #f5f5f5;
}

.speaker__image {
  margin-top: 28px;
  width: 70px;
}

.speaker__info {
  margin: 42px 0 1px 16px;
}

.speaker__name {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.speaker__profession {
  font-size: 14px;
  color: #86878b;
}

/* download */

.download {
  width: 100%;
  background-image: url(./images/background.png);
  background-size: cover;
}

.download_dark-bg {
  width: 100%;
  padding-bottom: 54px;
  background-color: rgb(51, 51, 51, 0.58);
}

.download__title {
  padding-top: 54px;
  text-align: center;
}

.title_white {
  color: white;
}

.download__line {
  margin: 22px auto;
}

.line_white {
  background-color: white;
}

.text_white {
  color: white;
}

.download__text {
  margin-bottom: 38px;
  text-align: center;
}

.download__btn {
  display: flex;
  margin: 0 auto;
}

.btn {
  padding: 12px 30px;
  border-radius: 9px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid white;
  color: white;
  outline: none;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
